{% extends "portfolio/base.html" %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

    	<div class="row">
            <div class="col-lg-12">
                <h3>
                <!-- Leave an empty row  -->
                </h3>
            </div>
        </div>

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> Web Portfolio
                    <small>Tingting Gao</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="/portfolio/startproject">
                    <img class="img-responsive" src="http://dummyimage.com/700x400/f89b30/ffffff&text=Getting+Started" alt="">
                </a>
                <h3>
                    <a href="/portfolio/startproject">Bring Your Code</a>
                </h3>
                <p>A piece of code that written that is at least 400 lines long brought to discussion section.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="/portfolio/chess">
                    <img class="img-responsive" src="http://dummyimage.com/700x400/75b823/ffffff&text=Chess+Game" alt="">
                </a>
                <h3>
                    <a href="/portfolio/chess">Chess</a>
                </h3>
                <p>A chess game with graphical game interface built from scratch in Java.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="/portfolio/csair">
                    <img class="img-responsive" src="http://dummyimage.com/700x400/27ABEC/ffffff&text=CS+Airline" alt="">
                </a>
                <h3>
                    <a href="/portfolio/csair">CS Air</a>
                </h3>
                <p>An airline ticketing system to look up, edit and display flight routes.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="/portfolio/webportfolio">
                    <img class="img-responsive" src="http://dummyimage.com/700x400/8a3db3/ffffff&text=Web+Portfolio" alt="">
                </a>
                <h3>
                    <a href="/portfolio/webportfolio">Portfolio</a>
                </h3>
                <p>A web application written in Django to showcase all previous projects.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
<!--         <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Five</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Six</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div> -->
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
<!--         <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div> -->
        <!-- /.row -->



        <!-- Footer -->
<!--         <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>CS 242 - Fall 2015</p>
                </div>
            </div>
            
        </footer> -->

    </div>
    <!-- /.container -->
{% endblock %}
    <!-- jQuery -->
